.column {
  background-color: #de8c8c; /* Color de fondo */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  width: 325px;
  height: 50vh; /* Extiende el rectángulo hacia abajo hasta la altura completa de la ventana */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es demasiado grande */
}

.column h2 {
  margin-top: 0;
}

.column ul {
  list-style-type: none;
  padding: 0;
}

.column li {
  margin-bottom: 8px;
}